<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="/">{{siteTitle}}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="link" href="/places">Places</a>
          </li>
          <li class="nav-item">
            <a class="link" href="/places/create">Create a place</a>
          </li>
        </ul>
      </div>
    </nav>

    {{{body}}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvSvNh4kOMnZ1GSgaOG7jFIA0VLlN4gcE&callback=initMap"
    ></script>

    <script src="/js/script.js"></script>
  </body>

</html>